:root {
  --home-display: grid;
  --team-display: flex;
}

* {
  font-family: "Lora","Courier New",monospace,serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#home {
  background: none;
  border: none;
  text-align: center;
}

.centered-block {
  display: block;
  margin: auto;
  width: 50%;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  font-size: 2em;
  text-align: center;
}

#home-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "wild-high mild-high"
    "wild-low  mild-low";
}

#wild-high {
  grid-area: wild-high;
}

#wild-low {
  grid-area: wild-low;
}

#mild-high {
  grid-area: mild-high;
}

#mild-low {
  grid-area: mild-low;
}

button {
  font-size: large;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  width: 50%;
  padding: 10px;
}

label {
  display: none;
}

#team-page-wrapper {
  display: none;
  flex: 1;
  overflow: auto;
}

#team-page-wrapper > aside {
  width: 30%;
}