:root {
  --home-display: grid;
  --team-display: flex;
}

* {
  font-family: "Lora","Courier New",monospace,serif;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.centered-block {
  display: block;
  margin: auto;
  width: 50%;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 50pt;
  cursor: pointer;
}

#content {
  font-size: 2em;
  text-align: center;
  background-color: rgba(30,30,30,.64);
}

#home-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "wild-high mild-high"
    "wild-low  mild-low";
}

.division-heading {
  font-size: 30px;
}

#wild-high {
  grid-area: wild-high;
}

#wild-low {
  grid-area: wild-low;
}

#mild-high {
  grid-area: mild-high;
}

#mild-low {
  grid-area: mild-low;
}

button {
  font-size: 15pt;
  display: block;
  margin: auto;
  width: 60%;
  padding: 10px;
  border: none;
  font-weight:500;
  text-align: left;
  cursor: pointer;
  background-color: #000;
}

button:hover {
  background-color: hsla(0,0%,39.6%,.65) !important;
}

#entries-add {
  border-radius: 12px;
  display: inline-block;
  width: auto;
}

label {
  display: none;
}

#content-page-wrapper {
  display: none;
  border-top: 2px solid #fff;
}

#content-page-main {
  flex: 1;
  overflow: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

span {
  text-align: left;
}

#content-page-wrapper h1,
#content-page-wrapper h2 {
  text-align: center;
}

#content-page-wrapper h3 {
  text-align: left;
  display: inline;
}

#players {
  width: 25%;
  border-right: 2px solid #fff;
}

#players button {
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

#players h3 {
  height: 2em;
}

#players * {
  text-align: center;
}

#add-rumor {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  top: 25%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#modal-body {
  padding: 1.4em;
  background-color: rgba(30,30,30,1);
}

#modal-header,
#modal-footer {
  height: 2em;
  background-color: #000;
}

#modal-header {
  display: flex;
  justify-content: space-between;
}

#modal-footer {
  display: flex;
  /* Push the buttons to the right */
  justify-content: flex-end;
}

textarea {
  display: block;
  height: auto;
  width: 100%;
  margin-top: 0.5em;
}

textarea,
input {
  color: black;
}

#modal-content label {
  display: inline;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#roster-team {
  cursor: pointer;
}

#roster-loading {
  animation: breathe;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    color: #fff;
  }

  50% {
    color: rgb(109, 109, 109);
  }

  100% {
    color: #fff;
  }
}